body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    background: white;
    margin: 10px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

.project {
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

form input, textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
}